<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="center" bgcolor="#f9f9f9" class="x_frame">
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="x_devicewidth" width="600" style="width:600px; min-width:600px">
                <tbody>
                <tr>
                    <td height="15"></td>
                </tr>
                <tr>
                    <td class="x_none">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td align="left" valign="middle" class="x_bodyText" style="font-family:'Lato',Arial,Helvetica,sans-serif; color:#999999; font-size:12px; font-weight:400; line-height:18px"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="15" class="x_none"></td>
                </tr>
                </tbody>
            </table>
            <table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="x_devicewidth" bgcolor="#ffffff" style="border:1px solid #dddddd; width:600px; min-width:600px; border-radius:4px; border-collapse:separate">
                <tbody>
                <tr>
                    <td class="x_content" style="padding:40px 50px 0px 50px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="x_devicewidth" width="100%">
                            <tbody>
                            <tr></tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="x_mlContentSpacing" style="padding-top:0px; padding-bottom:40px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="center" id="x_image-block-5"><img data-imagetype="External" src="/resources/static/images/logo.jpg" width="141.43772241992883" border="0" alt="" style="display:block"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="x_mlContentSpacing" style="padding-top:0px; padding-bottom:40px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td class="x_bodyTitle" style="font-family:'Lato',Arial,Helvetica,sans-serif; font-size:20px; line-height:26px; color:#111111; font-weight:bold; text-align:center">
                                                Please Confirm Your Account
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="x_mlContentSpacing" style="padding-top:0px; padding-bottom:40px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="center" class="x_mlContentButton" style="font-family:'Lato',Arial,Helvetica,sans-serif"><a th:href="${message}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" class="x_mlContentButton" style="font-family:'Lato',Arial,Helvetica,sans-serif; background-color:#2d8cff; border-bottom:2px solid #0e56ad; border-radius:3px; color:#ffffff; display:inline-block; font-size:14px; font-weight:700; line-height:20px; padding:15px 0 13px 0; text-align:center; text-decoration:none; width:498px" data-linkindex="0">Confirm</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="100%" cellpadding="0" border="0" cellspacing="0" align="center" class="x_devicewidth">
                            <tbody>
                            <tr>
                                <td height="1" class="x_spacingTop" style="height:1px; line-height:1px; min-height:1px; border-bottom:1px solid #dddddd">
                                    <img data-imagetype="External" src="./AngularMailTemplate-modified_files/spacer.webp" width="1" height="1" border="0" style="display:block"></td>
                            </tr>
                            <tr>
                                <td height="40" class="x_spacingHeight-20" style="height:40px"><img data-imagetype="External" src="./AngularMailTemplate-modified_files/spacer.webp" width="1" height="1" border="0" style="display:block"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td class="x_mlContentSpacing" style="padding-top:0px; padding-bottom:40px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td class="x_bodyText" align="left" id="x_content-13" style="font-family:'Lato',Arial,Helvetica,sans-serif; font-size:13px; line-height:23px; color:#666666">
                                                <p style="margin-top:0px; margin-bottom:0px; text-align:center">If you
                                                    didn't register, just delete this email. You are not registered
                                                    until you click the confirmation button above.<br></p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="x_devicewidth" style="width:600px; min-width:600px">
                <tbody>
                <tr>
                    <td height="20"></td>
                </tr>
                </tbody>
            </table>
            <table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="x_devicewidth" style="width:600px; min-width:600px">
                <tbody>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td align="center" class="x_bodyTitle" style="font-family:'Lato',Arial,Helvetica,sans-serif; font-size:14px; line-height:20px; color:#999999; font-weight:bold">
                         Final Theses Registry
                    </td>
                </tr>
                <tr>
                    <td align="center" class="x_bodyText" id="x_content-14" style="font-family:'Lato',Arial,Helvetica,sans-serif; color:#999999; font-size:13px; line-height:23px">
                        <p style="margin-top:0px; margin-bottom:0px"><br></p></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                </tbody>
            </table>
            <table width="600" cellpadding="0" border="0" cellspacing="0" align="center" class="x_devicewidth" style="width:600px; min-width:600px">
                <tbody>
                <tr>
                    <td height="20" class="x_spacingHeight-20"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
